<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <ul class="py-2 text-dark text-decoration-none"><%= link_to "sample app", root_path, id: "logo" %></ul>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      	<ul class="py-2 text-dark text-decoration-none"><%= link_to "Home", root_path %></ul>
        <ul class="py-2 text-dark text-decoration-none"><%= link_to "Help", help_path %></ul>
        <ul class="py-2 text-dark text-decoration-none"><%= link_to "Log in", '#' %></ul>
      </nav>
    </div>
</header>
</div>
